<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinaway.tms.admin.dao.SysMenuMapper">
	<resultMap id="BaseResultMap" type="com.chinaway.tms.admin.model.SysMenu">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="pid" property="pid" />
		<result column="levels" property="levels" />
		<result column="createtime" property="createtime" />
		<result column="requesturl" property="requesturl" />
		<result column="menutype" property="menutype" />
		<result column="sotid" property="sotid" />
		<result column="clazz" property="clazz" />
		<result column="title" property="title" />
		<result column="img" property="img" />
		<result column="type" property="type" />
		<result column="subsystem" property="subsystem" />
		<result column="target" property="target" />
	</resultMap>

	<sql id="Base_Column_List">
		id,name,pid,levels,createtime,requesturl,menutype,sotid,clazz,title,img,type,subsystem,target
	</sql>

<!-- 	<sql id="Base_Column_Menu_List"> -->
<!-- 		c.id,c.name,c.pid,c.levels,c.createtime,c.requesturl,c.menutype,c.sotid,c.type,c.subsystem,c.target -->
<!-- 	</sql> -->
	<!-- c.menutype,暂时不添加,调试问题 -->
	<sql id="login_Menu_List">
		c.id as id,c.pid as parentId,c.name as name,c.requesturl as resUrl,c.type as type,c.clazz as clazz,c.title as title,c.img as img
	</sql>
	
	<!-- 动态查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != '' ">
				and id = #{id}
			</if>
			<if test="name != null and name != '' ">
				and name like CONCAT('%',#{name},'%')
			</if>
			<if test="pid != null and pid != '' ">
				and pid = #{pid}
			</if>
			<if test="levels != null and levels != '' ">
				and levels = #{levels}
			</if>
			<if test="createtime != null and createtime != '' ">
				and createtime = #{createtime}
			</if>
			<if test="requesturl != null and requesturl != '' ">
				and requesturl = #{requesturl}
			</if>
			<if test="menutype != null and menutype != '' ">
				and menutype = #{menutype}
			</if>
			<if test="sotid != null and sotid != '' ">
				and sotid = #{sotid}
			</if>

		</trim>
	</sql>
	
	<!-- 动态查询条件 
	<sql id="roleId_Where_Clause">
		where c.id = b.menuid 
		and  b.roleid = a.id
		<trim suffixOverrides=",">
			<if test="id != null and id != '' ">
			    and a.id = #{id}
			</if>
		</trim>
	</sql> -->

	<!-- 根据id查询 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_menu where id = #{id}
	</select>
	
	<!-- 条件查询所有(分页拦截的也是这个语句) -->
	<select id="selectAll4Page" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_menu
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 条件查询所有菜单 -->
	<select id="selectAllMenu4Page" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_menu
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 根据角色id查询菜单信息(连表查询用于登录) -->
	<select id="queryMenuByRoleId" resultType="java.util.Map" parameterType="java.lang.Integer">
		select
		<include refid="login_Menu_List" />
		from sys_role a,sys_role_menu b,sys_menu c
		where c.id = b.menuid 
		and  b.roleid = a.id
		<if test="id != null and id != '' ">
		    and a.id = #{id}
		</if>
		ORDER BY c.sotid ASC
		<!-- <include refid="roleId_Where_Clause" /> -->
	</select>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.chinaway.tms.admin.model.SysMenu">
		insert into
		sys_menu(name,pid,levels,createtime,requesturl,menutype,sotid,img,title,clazz,type,target)
		values(#{name},#{pid},#{levels},#{createtime},#{requesturl},#{menutype},#{sotid},#{img},#{name},#{clazz},#{type},#{target})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="com.chinaway.tms.admin.model.SysMenu">
		update sys_menu set
		name=#{name},pid=#{pid},levels=#{levels},requesturl=#{requesturl},menutype=#{menutype},sotid=#{sotid},img=#{img},title=#{name},clazz=#{clazz},type=#{type},target=#{target}
		where id=#{id}
	</update>

	<!-- 动态修改记录，只修改只不为空的字段 -->
	<update id="updateSelective" parameterType="com.chinaway.tms.admin.model.SysMenu">
		update sys_menu set
		<trim suffixOverrides=",">
			<if test="name != null  and name != '' ">
				name=#{name},
			</if>
			<if test="pid != null  ">
				pid=#{pid},
			</if>
			<if test="levels != null  and levels != '' ">
				levels=#{levels},
			</if>
			<if test="createtime != null  ">
				createtime=#{createtime},
			</if>
			<if test="requesturl != null  and requesturl != '' ">
				requesturl=#{requesturl},
			</if>
			<if test="menutype != null  and menutype != '' ">
				menutype=#{menutype},
			</if>
			<if test="sotid != null  ">
				sotid=#{sotid},
			</if>
			<if test="img != null  and img != '' ">
				img=#{img},
			</if>
			<if test="title != null  and title != '' ">
				title=#{name},
			</if>
			<if test="clazz != null  and clazz != '' ">
				clazz=#{clazz},
			</if>
			<if test="type != null  and type != '' ">
				type=#{type},
			</if>
			<if test="target != null  and target != '' ">
				target=#{target},
			</if>
		</trim>
		where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="deleteById" parameterType="com.chinaway.tms.admin.model.SysMenu">
		delete from sys_menu where id = #{id}
	</delete>
	
	<!-- 批量删除记录  (可能暂时不使用)-->
	<delete id="deleteByIds" parameterType="java.lang.String">
		delete from sys_user where id in
		<foreach item="idItem" collection="array" open="(" separator="," close=")">
			#{idItem}
		</foreach>
	</delete>
</mapper>