<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinaway.tms.basic.dao.SysRoleMapper" >
  	<resultMap id="BaseResultMap" type="com.chinaway.tms.basic.model.SysRole" >
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="description" property="description"/>
		<result column="type" property="type"/>
	</resultMap>
       
	<sql id="Base_Column_List" >
		 id,name,description,type
	</sql>
	
	<sql id="Base_Column_Menu_List" >
		 c.id,c.name,c.pid,c.levels,c.createtime,c.requesturl,c.menutype,c.sotid 
	</sql>
   
	<!-- 动态查询条件 -->
	<sql id="Example_Where_Clause">
	where 1=1
	<trim suffixOverrides="," >
		<if test="id != null and id != '' ">
		    and id = #{id}
		</if>
		<if test="name != null and name != '' ">
		    and name = #{name}
		</if>
		<if test="description != null and description != '' ">
		    and description = #{description}
		</if>
		<if test="type != null and type != '' ">
		    and type = #{type}
		</if>
	
	</trim>
	</sql>
 
	<!-- 根据id查询  -->
	<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> 
	 from sys_role where id = #{id}
	</select>

	<!-- 条件查询所有(分页拦截的也是这个语句) -->
	<select id="selectAll4Page" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_role
		<include refid="Example_Where_Clause"/>
	</select>
   
	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.chinaway.tms.basic.model.SysRole" >
	  insert into sys_role(id,name,description,type)
 values(#{id},#{name},#{description},#{type})
	</insert>

	<!-- 根据id，修改记录-->  
	 <update id="update" parameterType="com.chinaway.tms.basic.model.SysRole" >
	  update sys_role set name=#{name},description=#{description},type=#{type} where id=#{id}
	 </update>
 
	 <!-- 动态修改记录，只修改只不为空的字段 -->
	<update id="updateSelective" parameterType="com.chinaway.tms.basic.model.SysRole" >
		update sys_role set 
	<trim  suffixOverrides="," >
	<if test="name != null  and name != '' ">
		name=#{name},
	</if>
	<if test="description != null  and description != '' ">
		description=#{description},
	</if>
	<if test="type != null  and type != '' ">
		type=#{type},
	</if>
	</trim> where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="deleteById" parameterType="com.chinaway.tms.basic.model.SysRole" >
		delete 	 from sys_role where id = #{id}
	</delete>
	
	<!-- 条件查询所有(分页拦截的也是这个语句) -->
	<select id="queryMenueByRoleId" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_Menu_List" />
		from sys_role a,sys_role_menu b,sys_menu c
		where a.id = b.roleid
		and b.menuid = c.id
		and b.roleid = #{roleId}
	</select>
  	
</mapper>
