<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinaway.tms.admin.dao.SysRoleMapper">
	<resultMap id="BaseResultMap" type="com.chinaway.tms.admin.model.SysRole">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="type" property="type" />
	</resultMap>

	<sql id="Base_Column_List">
		id,name,description,type
	</sql>
	
	<sql id="Base_Column_role_List">
		c.id
	</sql>

	<!-- 动态查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != '' ">
				and id = #{id}
			</if>
			<if test="name != null and name != '' ">
				and name = #{name}
			</if>
			<if test="description != null and description != '' ">
				and description = #{description}
			</if>
			<if test="type != null and type != '' ">
				and type = #{type}
			</if>
		</trim>
	</sql>
	
	<!-- 动态查询条件 -->
	<sql id="userid_Where_Clause">
	    where b.roleid = c.id
		and a.id = b.userid
		<trim suffixOverrides=",">
			<if test="userId != null and userId != ''">
				and a.id = #{userId}
			</if>
		</trim>
	</sql>

	<!-- 根据id查询 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_role where id = #{id}
	</select>

	<!-- 条件查询所有(分页拦截的也是这个语句) -->
	<select id="selectAll4Page" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_role
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 根据条件查询所有角色(连表查询用于列表页按角色名,部门查询) -->
	<select id="queAllRoleByCtn" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_role
		<include refid="Example_Where_Clause" />
	</select>
	
    <!-- 根据条件分页查询角色 -->
	<select id="queRolByCtnPgBn" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_role
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 根据用户id查询角色(连表查询用于登录) -->
	<select id="queryRoleByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_role_List" />
		from sys_user a, sys_user_role b, sys_role c
		<include refid="userid_Where_Clause" />
	</select>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.chinaway.tms.admin.model.SysRole">
		insert into sys_role(id,name,description,type)
		values(#{id},#{name},#{description},#{type})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="com.chinaway.tms.admin.model.SysRole">
		update sys_role set
		name=#{name},description=#{description},type=#{type} where id=#{id}
	</update>

	<!-- 动态修改记录，只修改只不为空的字段 -->
	<update id="updateSelective" parameterType="com.chinaway.tms.admin.model.SysRole">
		update sys_role set
		<trim suffixOverrides=",">
			<if test="name != null  and name != '' ">
				name=#{name},
			</if>
			<if test="description != null  and description != '' ">
				description=#{description},
			</if>
			<if test="type != null  and type != '' ">
				type=#{type},
			</if>
		</trim>
		where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="deleteById" parameterType="com.chinaway.tms.admin.model.SysRole">
		delete from sys_role where id = #{id}
	</delete>
	
	<!-- 批量删除记录 -->
	<delete id="deleteByIds" parameterType="java.lang.String">
		delete from sys_role where id in
		<foreach item="idItem" collection="array" open="(" separator="," close=")">
			#{idItem}
		</foreach>
	</delete>
</mapper>