<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinaway.tms.basic.dao.OrderItemMapper" >
  	<resultMap id="BaseResultMap" type="com.chinaway.tms.basic.model.OrderItem" >
		<id column="id" property="id"/>
		<result column="orderid" property="orderid"/>
		<result column="goodscode" property="goodscode"/>
		<result column="goodsname" property="goodsname"/>
		<result column="number" property="number"/>
		<result column="weight" property="weight"/>
		<result column="volume" property="volume"/>
		<result column="unit" property="unit"/>
	</resultMap>
       
	<sql id="Base_Column_List" >
		 id,orderid,goodscode,goodsname,number,weight,volume,unit
	</sql>
   
	<!-- 动态查询条件 -->
	<sql id="Example_Where_Clause">
	where 1=1
	<trim suffixOverrides="," >
		<if test="id != null and id != '' ">
		    and id = #{id}
		</if>
		<if test="orderid != null and orderid != '' ">
		    and orderid = #{orderid}
		</if>
		<if test="goodscode != null and goodscode != '' ">
		    and goodscode = #{goodscode}
		</if>
		<if test="goodsname != null and goodsname != '' ">
		    and goodsname = #{goodsname}
		</if>
		<if test="number != null and number != '' ">
		    and number = #{number}
		</if>
		<if test="weight != null and weight != '' ">
		    and weight = #{weight}
		</if>
		<if test="volume != null and volume != '' ">
		    and volume = #{volume}
		</if>
	
	</trim>
	</sql>
	
		<!-- 动态查询条件 -->
	<sql id="mf_Where_Clause">
		where 1=1
		<trim suffixOverrides="," >
			<if test="id != null and id != '' ">
			    and id = #{id}
			</if>
			<if test="orderid != null and orderid != '' ">
			    and orderid like CONCAT('%',#{orderid},'%')
			</if>
			<if test="goodscode != null and goodscode != '' ">
			    and goodscode = #{goodscode}
			</if>
			<if test="goodsname != null and goodsname != '' ">
			    and goodsname = #{goodsname}
			</if>
			<if test="number != null and number != '' ">
			    and number = #{number}
			</if>
			<if test="weight != null and weight != '' ">
			    and weight = #{weight}
			</if>
			<if test="volume != null and volume != '' ">
			    and volume = #{volume}
			</if>
		</trim>
	</sql>
 
	<!-- 根据orderid查询  -->
	<select id="selectByOrderId"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> 
		from order_item 
		where orderid = #{orderid}
	</select>
 
	<!-- 根据id查询  -->
	<select id="selectById"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> 
	 from order_item where id = #{id}
	</select>

	<!-- 条件查询所有(分页拦截的也是这个语句) -->
	<select id="selectAll4Page" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from order_item
		<include refid="Example_Where_Clause"/>
	</select>
	
	<!-- 条件查询所有 -->
	<select id="selectAllOrderItemByCtn" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from order_item
		<include refid="mf_Where_Clause"/>
	</select>
   
	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.chinaway.tms.basic.model.OrderItem" >
	    insert into order_item(orderid,goodscode,goodsname,number,weight,volume,unit)
 		values(#{orderid},#{goodscode},#{goodsname},#{number},#{weight},#{volume},#{unit})
	</insert>

	<!-- 根据id，修改记录-->  
	 <update id="update" parameterType="com.chinaway.tms.basic.model.OrderItem" >
	  update order_item set orderid=#{orderid},goodscode=#{goodscode},goodsname=#{goodsname}
	  		,number=#{number},weight=#{weight},volume=#{volume},unit=#{unit}
	  where id=#{id}
	 </update>
 
	 <!-- 动态修改记录，只修改只不为空的字段 -->
	<update id="updateSelective" parameterType="com.chinaway.tms.basic.model.OrderItem" >
		update order_item set 
	<trim  suffixOverrides="," >
	<if test="orderid != null  ">
		orderid=#{orderid},
	</if>
	<if test="goodscode != null  ">
		goodscode=#{goodscode},
	</if>
	<if test="goodsname != null and goodsname != '' ">
		goodsname=#{goodsname},
	</if>
	<if test="number != null and number != '' ">
	    number = #{number}
	</if>
	<if test="weight != null and weight != '' ">
	    weight = #{weight}
	</if>
	<if test="volume != null and volume != '' ">
	    volume = #{volume}
	</if>
	<if test="unit != null and unit != '' ">
	    unit = #{unit}
	</if>
	</trim> where id=#{id}
	</update>

	<!-- 删除记录 -->
	<delete id="deleteById" parameterType="com.chinaway.tms.basic.model.OrderItem" >
		delete 	 from order_item where id = #{id}
	</delete>
  	
</mapper>
